---
import { CollectionEntry, getCollection } from "astro:content";
import PostImage from "src/components/PostImage.astro";
import PostPreview from "src/components/PostPreview.astro";
import TagList from "src/components/TagList.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import S3Image from "src/components/S3Image.astro";
import ColumnLayout from "src/layouts/ColumnLayout.astro";
import GutterLayout from "src/layouts/GutterLayout.astro";

export async function getStaticPaths() {
  const guideEntries = await getCollection("guides");

  return guideEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"guides">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description, subtitle, image, tags } = entry.data;

const allGuides = await getCollection("guides");
---

<MainLayout>
  <article>
    <GutterLayout>
      <header class="my-14">
        <ColumnLayout class="lg:items-end gap-y-4 lg:gap-y-0">
          <div>
            <h1 class="text-5xl">
              <span class="font-bold tracking-tight lg:block">
                The Only Aeropress Guide</span
              >
              <span class="font-serif italic lg:block">You'll Ever Need</span>
            </h1>
            <div class="mt-4">
              <TagList tags={tags} />
            </div>
          </div>
          <p class="text-lg text-neutral-600">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi
            sed omnis iste hic necessitatibus? Beatae!
          </p>
        </ColumnLayout>
      </header>

      <ColumnLayout>
        <div>
          <div class="aspect-w-3 aspect-h-2 w-full">
            <S3Image
              src={image.src}
              alt={image.alt}
              width={800}
              aspectRatio={3 / 2}
            />
          </div>
          <div class="flex justify-end space-x-6">
            <div class="mt-2 text-sm uppercase tracking-wide text-neutral-500">
              Ike Husemann // February 8, 2023
            </div>
          </div>
          <div class="prose prose-lg sm:prose-xl prose-p:leading-8 prose-headings:tracking-tight prose-neutral max-w-none">
            <div class="mx-auto max-w-xl">
              <Content components={{ img: PostImage }} />
            </div>
          </div>
        </div>
        <div class="hidden lg:block relative">
          <aside class="sticky top-24">
            <div class="h-[600px] w-full bg-neutral-100"></div>

            <div
              class="mt-16 mb-4 text-sm uppercase tracking-wide text-neutral-500"
            >
              Latest Posts
            </div>
            <nav class="grid grid-cols-1 gap-y-8">
              {
                [...allGuides, ...allGuides, ...allGuides].map((guide) => (
                  <a
                    href={`${guide.slug}`}
                    class="grid grid-cols-[120px_1fr] gap-x-3"
                  >
                    <div class="aspect-w-3 aspect-h-2 w-full">
                      <S3Image
                        src={guide.data.image.src}
                        alt={guide.data.image.alt}
                        width={120}
                        aspectRatio={3 / 2}
                      />
                    </div>
                    <h2 class="text-xl leading-6">
                      <span class="inline font-bold tracking-tight">
                        {guide.data.title}
                      </span>
                      <span class="inline font-serif italic">
                        {guide.data.subtitle}
                      </span>
                    </h2>
                  </a>
                ))
              }
            </nav>
          </aside>
        </div>
      </ColumnLayout>

      <div
        class="mt-20 mb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-10 border-t-2 border-neutral-800"
      >
        <div class="col-span-full">
          <h2 class="mt-4 text-left text-2xl font-bold tracking-tight">
            You might also like
          </h2>
        </div>
        {
          [...allGuides, ...allGuides, ...allGuides].map((guide) => (
            <PostPreview guide={guide} />
          ))
        }
      </div>
    </GutterLayout>
  </article>
</MainLayout>
