---
import { CollectionEntry, getCollection } from "astro:content";
import CloudinaryImage from "src/components/CloudinaryImage.astro";
import FeatureSectionItem from "src/components/Guide/FeatureSectionItem.astro";
import CheckIcon from "src/components/icons/CheckIcon.astro";
import PostImage from "src/components/PostImage.astro";
import PostPreview from "src/components/PostPreview.astro";
import TagList from "src/components/TagList.astro";
import MainLayout from "src/layouts/MainLayout.astro";

export async function getStaticPaths() {
  const guideEntries = await getCollection("guides");

  return guideEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"guides">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, description, subtitle, image, tags } = entry.data;

const allGuides = await getCollection("guides");
---

<MainLayout>
  <article>
    <header
      class="mx-auto grid w-full max-w-6xl grid-cols-1 items-center gap-y-6 md:grid-cols-12 md:border-transparent md:pt-8"
    >
      <div class="flex md:col-span-6 lg:col-span-7">
        <!-- <img
          src={image.src}
          alt={image.alt}
          class="object-cover object-center"
        /> -->
        <div>
          <CloudinaryImage
            src={image.src}
            alt={image.alt}
            width={800}
            aspectRatio="4:3"
          />
        </div>
      </div>
      <div class="mx-auto max-w-xl px-8 md:col-span-6 lg:col-span-5">
        <TagList tags={tags} />

        <h1 class="mt-6 text-4xl">
          <span class="inline font-bold">{title}</span>
          {
            subtitle && (
              <span class="inline font-serif italic text-neutral-700">
                {subtitle}
              </span>
            )
          }
        </h1>

        <p class="mt-5 mb-8 text-xl text-neutral-700">
          {description}
        </p>
      </div>
    </header>

    <div class="prose prose-lg prose-neutral mx-auto mt-6 px-6 sm:px-8">
      <div class="border-t-2 border-neutral-800 sm:border-transparent">
        <Content components={{ img: PostImage }} />
      </div>
    </div>

    <!-- <div class="relative my-16">
      <div class="absolute inset-x-0 top-1/2 h-px bg-neutral-800"></div>
      <div class="mx-auto max-w-4xl flex">
        <h2 class="bg-white px-2 text-lg font-medium z-10">You might also like</h2>
      </div>
    </div> -->

    <section class="mx-auto mt-10 max-w-2xl px-6 sm:px-8">
      <h2
        class="mb-8 border-t-2 border-neutral-800 pt-3 text-2xl font-bold tracking-tight"
      >
        You might also like
      </h2>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
        {allGuides.map((guide) => <PostPreview guide={guide} />)}
      </div>
    </section>
  </article>
</MainLayout>
