---
import { SEO } from "astro-seo";
import { CollectionEntry, getCollection } from "astro:content";
import S3Image from "src/components/S3Image.astro";
import TagList from "src/components/TagList.astro";
import ColumnLayout from "src/layouts/ColumnLayout.astro";
import GutterLayout from "src/layouts/GutterLayout.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import { getPublishedPosts, makeCloudfrontDomain } from "src/util";
import Prose from "src/components/Prose.astro";
import PostImage from "src/components/PostImage.astro";
import LatestPosts from "src/components/LatestPosts.astro";
import PostPreviewGrid from "src/components/PostPreview/PostPreviewGrid.astro";
import PostPreview from "src/components/PostPreview/PostPreview.astro";

interface Props {
  entry: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getPublishedPosts();

  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const allPosts = await getCollection("posts").then((res) =>
  res.filter(({ data }) => !data.isDraft)
);

const { entry } = Astro.props;
const { Content } = await entry.render();

const {
  slug,
  data: { title, description, image, author, tags, pubDate, subtitle },
} = entry;
---

<head>
  <SEO
    title={`${title} ${subtitle} | The Brew Guide`}
    description={description}
    openGraph={{
      basic: {
        title: `${title} ${subtitle}`,
        type: "website",
        image: makeCloudfrontDomain(image.src),
        url: `${Astro.site}guides/${slug}`,
      },
      image: {
        url: makeCloudfrontDomain(image.src),
        alt: image.alt,
      },
    }}
  />
</head>

<MainLayout>
  <article>
    <GutterLayout>
      <header class="my-14">
        <ColumnLayout class="lg:items-end gap-y-4 lg:gap-y-0">
          <div>
            <h1 class="max-w-2xl text-5xl">
              <span class="font-bold tracking-tight"> {title}</span>
              <span class="font-serif italic">{subtitle}</span>
            </h1>
            <div class="mt-5">
              <TagList tags={tags} />
            </div>
          </div>
          <p class="text-lg text-neutral-600">
            {description}
          </p>
        </ColumnLayout>
      </header>

      <ColumnLayout>
        <div>
          <div class="aspect-w-3 aspect-h-2 w-full">
            <S3Image
              src={image.src}
              alt={image.alt}
              width={800}
              aspectRatio={3 / 2}
            />
          </div>
          <div class="flex justify-end space-x-6">
            <div
              class="mt-2 flex space-x-2 text-sm uppercase tracking-wide text-neutral-500"
            >
              <a class="hover:text-neutral-600" href={`/authors/${author.slug}`}
                >{author.name}</a
              >
              <span>//</span>
              <span
                >{
                  pubDate.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })
                }</span
              >
            </div>
          </div>
          <Prose>
            <Content components={{ img: PostImage }} />
          </Prose>
        </div>
        <div class="relative hidden lg:block">
          <aside class="sticky top-20">
            <!-- an ad can go here -->
            <!-- <div class="h-[500px] w-full bg-neutral-100"></div> -->

            <div class="mb-4 text-sm uppercase tracking-wide text-neutral-500">
              Latest Posts
            </div>
            <LatestPosts />
          </aside>
        </div>
      </ColumnLayout>

      <div class="mt-20 mb-8 border-t-2 border-neutral-800">
        <PostPreviewGrid>
          <div class="col-span-full">
            <h2 class="mt-4 text-left text-2xl font-bold tracking-tight">
              You might also like
            </h2>
          </div>
          {
            allPosts.map((post) => (
              <PostPreview post={post} />
            ))
          }
        </PostPreviewGrid>
      </div>
    </GutterLayout>
  </article>
</MainLayout>
